.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #001f3f; /* Navy color */
  }
  
  .navbar-logo a {
    color: #ff851b; /* Orange color */
    text-decoration: none;
    font-size: 24px;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
  }
  
  .navbar-links li {
    margin-left: 20px;
  }
  
  .navbar-links a {
    color: #ff851b; /* Orange color */
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
  }
  
  .navbar-links a:hover {
    color: #f5a623; /* Lighter shade of orange */
  }
  